
.vs (1)/RaceVoice/v15/.suo
.vs (1)/RaceVoice/v15/Server/sqlite3/db.lock
.vs (1)/RaceVoice/v15/Server/sqlite3/storage.ide
.vs (1)/RaceVoice/v15/Server/sqlite3/storage.ide-shm
.vs (1)/RaceVoice/v15/Server/sqlite3/storage.ide-wal
.vs/RaceVoice/v15/.suo
.vs/RaceVoice/v15/Server/sqlite3/storage (1).ide-shm
.vs/RaceVoice/v15/Server/sqlite3/storage (1).ide-wal
.vs/RaceVoice/v15/Server/sqlite3/storage.ide-shm
.vs/RaceVoice/v15/Server/sqlite3/db.lock
.vs/RaceVoice/v15/Server/sqlite3/storage.ide-wal
.vs/RaceVoice/v15/Server/sqlite3/db.lock
.vs/RaceVoice/v15/Server/sqlite3/storage.ide-wal